openapi: 3.2.0
info:
  title: Aeris Actions API
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  x-audience: external-public
  version: '1.0'
  description: 'Operations tagged Actions across 2 of this provider''s published API definitions: business-automation-api.yaml, shared-bundle-api.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://iot-api.aeris.com/iot/api/business-automation
  description: API server
- url: /iot/api/business-automation
- url: /
- url: https://iot-api.aeris.com/iot/api
  description: API server
tags:
- name: Actions
  description: Get triggered actions filtered list, details and summary
paths:
  /triggered-actions:
    get:
      tags:
      - Actions
      summary: List Triggered Actions
      description: Returns the list of actions that have been created through a ruleset.
      operationId: listTriggeredActions
      parameters:
      - $ref: '#/components/parameters/actionParam'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggeredActionsListResponse'
              example:
                total: 350
                actions:
                - id: REQ201104955229
                  createdAt: '2022-08-23T17:32:28Z'
                  modifiedAt: '2022-08-24T17:32:28Z'
                  imsi: '100783000004553'
                  rulesetName: reseller not selectable
                  rulesetId: 17d7a06845755
                  subscriptionPackageId: 200000001_SP_02
                  rule: SCHEDULED
                  action: NOTIFICATION
                  ownerOrganizationId: '3.78'
                  rulesetLevel: ENTERPRISE
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerAuth: []
      - Oauth2_auth:
        - triggered-actions.read
    servers:
    - url: https://iot-api.aeris.com/iot/api/business-automation
      description: API server
    - url: /iot/api/business-automation
    - url: /
  /triggered-actions/{id}:
    get:
      tags:
      - Actions
      summary: Get Triggered Action Detail
      description: This API returns the details of a action corresponding to the given triggered action Id.
      operationId: getTriggeredActionDetails
      parameters:
      - name: id
        in: path
        description: Specifies the triggered action id to filter the trigger action.
        required: true
        schema:
          type: string
          example: REQ201104955229
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggeredActionDetailsResponse'
              example:
                id: REQ201106502643
                createdAt: '1665643752014'
                modifiedAt: '1665643754214'
                status: COMPLETED
                rulesetId: 183d01a9d171e
                rulesetName: Rearm network change on EP IF network is A localize1
                rulesetLevel: ENTERPRISE
                rule: NETWORK_CHANGE
                conditionDescription: IF network is { 240 }
                conditionType: networkAgreement
                actions:
                - action: localization
                  status: COMPLETED
                  createdAt: '1665643752016'
                  modifiedAt: '1665643754211'
                  imsi: '100973000764628'
                  msisdn: '200973000765423'
                  iccid: '99987100973000764628'
                  imei: '123456789012345'
                  network:
                    mcc: '240'
                    mnc: '07'
                  ownerOrganizationId: '3.97'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerAuth: []
      - Oauth2_auth:
        - triggered-actions.read
    servers:
    - url: https://iot-api.aeris.com/iot/api/business-automation
      description: API server
    - url: /iot/api/business-automation
    - url: /
  /triggered-actions/summary:
    get:
      tags:
      - Actions
      summary: Get Triggered Actions Summary
      description: Returns the statistics based on triggered action trends of last 24 hours versus a week before.
      operationId: getTriggeredActionSummary
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggeredActionsSummaryResponse'
              example:
                statistics:
                - action: localization
                  actionCountForLast24Hours: 2
                  actionCount7DaysBefore: 4
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - BearerAuth: []
      - Oauth2_auth:
        - triggered-actions.read
    servers:
    - url: https://iot-api.aeris.com/iot/api/business-automation
      description: API server
    - url: /iot/api/business-automation
    - url: /
  /shared-bundles:
    parameters:
    - $ref: '#/components/parameters/qParam'
    - $ref: '#/components/parameters/sortParam'
    - $ref: '#/components/parameters/cycleParam'
    - $ref: '#/components/parameters/limitParam'
    - $ref: '#/components/parameters/cursorParam'
    get:
      summary: List shared bundles
      description: Return a list of all shared bundles, or an empty list if no shared bundle information is available.
      operationId: AllSharedBundleConsumptionGet
      tags:
      - Actions
      responses:
        '200':
          description: Response to a successful GET.
          allOf:
          - $ref: '#/components/schemas/RateLimitedResponse'
          content:
            application/json:
              schema:
                type: object
                properties:
                  shared_bundles:
                    type: array
                    items:
                      $ref: '#/components/schemas/SharedBundleSummaryResponse'
                  next:
                    description: Link to the next page of results. If not included, there are no more results.
                    type: string
                    format: uri
                    example: https://iot-api.aeris.com/iot/api/shared-bundles?cursor=DFVSDB3434%DFB%EYY445
              example:
                shared_bundles:
                - id: 48e0b7de2c504ab4ac6b98176cfacbba
                  service_type: DATA
                  granted: 29000000000
                  remaining: 3468702000
                  cycle_started_at: '2020-10-01T00:00:00.000Z'
                  cycle_ended_at: '2020-11-01T00:00:00.000Z'
                  organization_id: 0.5.2.3
                - id: 12cc0525eaec4f76881b7af2b3a55cbc
                  service_type: SMS
                  granted: 4314
                  remaining: 2797
                  cycle_started_at: '2020-10-01T00:00:00.000Z'
                  cycle_ended_at: '2020-11-01T00:00:00.000Z'
                  organization_id: 0.5.2.3
                - id: 35285cc0561d4481abb07e1354d629ed
                  service_type: SMS
                  granted: 20
                  remaining: 20
                  cycle_started_at: '2020-10-01T00:00:00.000Z'
                  cycle_ended_at: '2020-11-01T00:00:00.000Z'
                  organization_id: 0.5.2.3
                - id: 1efc17de2f274467be49e940b4911839
                  service_type: DATA
                  granted: 2097152000
                  remaining: 1971038208
                  cycle_started_at: '2020-10-01T00:00:00.000Z'
                  cycle_ended_at: '2020-11-01T00:00:00.000Z'
                  organization_id: 0.5.2.3
                - id: 873b5661f85b453290b4585f7eb8812e
                  service_type: VOICE
                  granted: 6000
                  remaining: 6000
                  cycle_started_at: '2020-10-01T00:00:00.000Z'
                  cycle_ended_at: '2020-11-01T00:00:00.000Z'
                  organization_id: 0.5.2.3
                next: https://iot-api.aeris.com/iot/api/shared-bundles?cursor=DFVSDB3434%DFB%EYY445
        default:
          description: error occurred - see status code and problem object for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem_2'
      security:
      - OAuth2:
        - org-mgt.shared-bundle-consumption.read
    servers:
    - url: https://iot-api.aeris.com/iot/api
      description: API server
  /shared-bundles/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: 'The Shared Bundle Identifier.

        '
      schema:
        type: string
    get:
      summary: Shared bundle details
      description: Detailed information of a specific shared bundle.
      operationId: SingleSharedBundleConsumptionGet
      tags:
      - Actions
      responses:
        '200':
          description: Response to a successful GET, also used for a POST if it does not result in a creation.
          allOf:
          - $ref: '#/components/schemas/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedBundleDetailsResponse'
              example:
                id: 48e0b7de2c504ab4ac6b98176cfacbba
                service_type: DATA
                level: PRICE_PROFILE
                price_profile: PP000000001
                type: SIM_DEPENDENT
                granted: 29000000000
                remaining: 3468702000
                updated_at: '2020-10-21T16:51:33.305Z'
                cycle_started_at: '2020-10-01T00:00:00.000Z'
                cycle_ended_at: '2020-11-01T00:00:00.000Z'
                organization_id: 3.88.176.837
        default:
          description: error occurred - see status code and problem object for more information.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem_2'
      security:
      - OAuth2:
        - org-mgt.shared-bundle-consumption.read
    servers:
    - url: https://iot-api.aeris.com/iot/api
      description: API server
components:
  responses:
    '401':
      description: Unauthorized
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Unauthorized
              status: 401
              detail: Permission denied
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    '500':
      description: Internal Server Error
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Internal Server Error
              status: 500
              detail: Internal Server Error
    '429':
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Too Many Requests
              status: 429
              detail: Too Many Requests
    '403':
      description: Forbidden
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Forbidden
              status: 403
              detail: Forbidden
    '404':
      description: Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Not Found
              status: 404
              detail: Not Found
    '400':
      description: Bad Request
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            problem-example:
              type: about:blank
              title: Bad Request
              status: 400
              detail: ownerOrganizationId should not be null or empty
  headers:
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
  schemas:
    TriggeredActionsSummaryResponse:
      type: object
      properties:
        statistics:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              actionCountForLast24Hours:
                type: integer
                format: int32
              actionCount7DaysBefore:
                type: integer
                format: int32
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,

            it provides human-readable documentation for the problem type

            (for example, using HTML).

            '
          default: about:blank
          example: about:blank
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (not aimed for non-technical stakeholders and not localized);

            '
          example: Internal Server Error
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          example: 500
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Internal Server Error
    TriggeredActionDetailsResponse:
      type: object
      properties:
        id:
          type: string
        createdAt:
          type: string
        modifiedAt:
          type: string
        status:
          type: string
        rulesetId:
          type: string
        rulesetName:
          type: string
        rulesetLevel:
          type: string
        rule:
          type: string
        conditionType:
          type: string
        conditionDescription:
          type: string
        actions:
          type: array
          items:
            type: object
            properties:
              action:
                type: string
              status:
                type: string
              createdAt:
                type: string
              modifiedAt:
                type: string
              imsi:
                type: string
              msisdn:
                type: string
              priceProfileId:
                type: string
              iccid:
                type: string
              imei:
                type: string
              enterpriseId:
                type: string
              enterpriseName:
                type: string
              network:
                type: object
                properties:
                  mcc:
                    type: string
                  mnc:
                    type: string
              ownerOrganizationId:
                type: string
    TriggeredActionsListResponse:
      type: object
      properties:
        total:
          type: integer
          format: int32
        actions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              createdAt:
                type: string
              modifiedAt:
                type: string
              imsi:
                type: string
              rulesetName:
                type: string
              rulesetId:
                type: string
              subscriptionPackageId:
                type: string
              rule:
                type: string
              action:
                type: string
              ownerOrganizationId:
                type: string
              rulesetLevel:
                type: string
              priceProfile:
                type: string
              enterpriseId:
                type: string
              enterpriseName:
                type: string
    RateLimitedResponse:
      headers:
        Content-Type:
          description: Handle Content-Type
          schema:
            type: string
        X-RateLimit-Limit-Second:
          description: The maximum number of requests allowed in a second.
          schema:
            type: integer
            format: int32
        X-RateLimit-Limit-Minute:
          description: The maximum number of requests allowed in a minute.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining-Second:
          description: The number of requests remaining in a second.
          schema:
            type: integer
            format: int32
        X-RateLimit-Remaining-Minute:
          description: The number of requests remaining in a minute.
          schema:
            type: integer
            format: int32
    SharedBundleDetails:
      type: object
      required:
      - price_profile
      - level
      - type
      - updated_at
      properties:
        price_profile:
          type:
          - string
          - 'null'
          example: PP0000034
          description: 'The Price Profile identifier that defines the shared bundle configuration.

            '
        level:
          type: string
          example: COMPANY
          description: 'Define the commercial level the shared bundle is applied.


            _Available values:_


            - ''COMPANY''

            - ''CONTRACT''

            - ''PRICE_PROFILE''

            '
          x-extensible-enum:
          - COMPANY
          - CONTRACT
          - PRICE_PROFILE
        type:
          type: string
          example: FIXED
          description: 'This type describes how volume limitis are generated every shared bundle consumption cycle.


            _Available values:_


            - ''FIXED''

            - ''SIM_DEPENDENT''

            '
          x-extensible-enum:
          - FIXED
          - SIM_DEPENDENT
        updated_at:
          type: string
          format: datetime
          example: 2020-02-17T09:34:553Z
          description: 'The timestamp when the shared bundle information was last read from the internal backend system.

            '
    Problem_2:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,it SHOULD provide

            human-readable documentation for the problem type (e.g., using HTML).

            '
          default: about:blank
          example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
        title:
          type: string
          description: 'A short summary of the problem type in english and readable for engineers.

            '
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: A human readable explanation specific to this occurrence of the problem.
          example: Connection to database timed out.
        instance:
          type: string
          description: An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.
          example: https://api.documentation.url/request-id
    SharedBundleDetailsResponse:
      allOf:
      - $ref: '#/components/schemas/SharedBundleSummary'
      - $ref: '#/components/schemas/SharedBundleDetails'
      - $ref: '#/components/schemas/SharedBundleCycle'
    SharedBundleSummaryResponse:
      allOf:
      - $ref: '#/components/schemas/SharedBundleSummary'
      - $ref: '#/components/schemas/SharedBundleCycle'
    SharedBundleSummary:
      type: object
      required:
      - id
      - service_type
      - granted
      - remaining
      - organization_id
      properties:
        id:
          type: string
          example: avagdhdcnbtdhgaf==
          description: 'The unique identifier for each shared bundle.

            '
        service_type:
          type: string
          example: DATA
          description: 'The shared bundle connectivity service type.


            _Available service_type values and the corresponding unit for the shared bundle:_

            - ''DATA'' (bytes)

            - ''SMS'' (count)

            - ''VOICE'' (seconds)

            - ''CSD'' (seconds)

            '
          x-extensible-enum:
          - DATA
          - SMS
          - VOICE
          - CSD
        granted:
          type: integer
          example: 29000000000
          description: 'The granted volume for the service type, positive number.

            '
          format: int64
        remaining:
          type: integer
          example: 3468702000
          description: 'The remaining volume for the service type, mostly positive number but may be negative if an overage has been consumed.

            '
          format: int64
        organization_id:
          type: string
          example: 0.5.2.3
          description: '''organization_id'' is used to filter out a single Organization.

            '
    SharedBundleCycle:
      type: object
      required:
      - cycle_started_at
      - cycle_ended_at
      properties:
        cycle_started_at:
          type: string
          format: datetime
          example: '2020-10-01T00:00:00.000Z'
          description: 'Timestamp when the shared bundle consumption cycle is started at (inclusive).

            '
        cycle_ended_at:
          type: string
          format: datetime
          example: '2020-11-01T00:00:00.000Z'
          description: 'Timestamp when the shared bundle consumption cycle is (or will be) ended at (exclusive).

            '
  parameters:
    actionParam:
      in: query
      name: q
      schema:
        type: string
        example: ownerOrganizationId==3.78;startImsiRange==100783000004553;endImsiRange==100783000004662;rule==timeBased;action==emailNotification;state==DEACTIVATED_AND_LOCKED;startDate==23-08-2022;endDate==24-08-2022;id==REQ201104955229
      description: '

        RSQL query string parameter. Selects triggered actions which are filtered by a RSQL compliant query string.


        _Available logical operators:_


        - Logical AND : ; or "and" is supported

        - Logical OR : , or "or" is supported


        ''ownerOrganizationId'' Specifies the organization id which owns the rulesets. Example ''3.78'' \

        ''startImsiRange'' Specifies the starting range for IMSI. Example ''100783000004553''\

        ''endImsiRange'' Specifies the end range for IMSI. Example ''100783000004662''\

        ''rule'' Specifies the rule type for the Triggered actions. Example ''timeBased''\

        ''action'' Specifies the action type for the Triggered actions. Example ''emailNotification''\

        ''state'' Specifies the state of the subscription. Example ''DEACTIVATED_AND_LOCKED''\

        ''startDate'' Specifies the start date from which the triggered actions are to be filtered. startDate is to be specified as ‘DD-MM-YYYY’. Example ''23-08-2022''\

        ''endDate'' Specifies the end date to which the triggered actions are to be filtered. endDate is to be specified as ‘DD-MM-YYYY’. Example ''24-08-2022''\

        ''id'' Specifies the triggered action id to filter the triggered action. Example ''REQ201104955229''


        Comparison operators are in FIQL notation.


        _Available comparison operators:_


        - Equal to : ==

        - Not equal to : !=

        - Less than : =lt= or <

        - Less than or equal to : =le= or <=

        - Greater than operator : =gt= or >

        - Greater than or equal to : =ge= or >=


        Example usage q=startImsiRange==100783000004553;endImsiRange==100783000004662\

        Example equivalent usage q=startImsiRange==100783000004553 and endImsiRange==100783000004662


        Note! Only one of type ''q'' is allowed per request.

        '
    limitParam:
      in: query
      name: limit
      schema:
        type: integer
        default: 100
      description: 'Specifies the maximum number of results to be returned. Allowed interval is 1-1000.

        '
    qParam:
      in: query
      name: q
      schema:
        type: string
        example: service_type==sms;organization_id==0.5.2.3
      description: '

        RSQL query string parameter. Selects shared bundles which are filtered by a RSQL compliant query string.


        _Available logical operators:_


        - Logical AND : ; or "and" is supported

        - Logical OR : , or "or" is supported


        ''organization_id'' can be used to filter out a single Organization. Example ''0.5.2.3'' \

        ''service_type'' can be used to filter out bundles by service type. Example ''sms''\

        ''granted'' can be used to filter out bundles by granted amount.\

        ''remaining'' can be used to filter out bundles by remaining amount.


        Comparison operators are in FIQL notation.


        _Available comparison operators:_


        - Equal to : ==

        - Not equal to : !=

        - Less than : =lt= or <

        - Less than or equal to : =le= or <=

        - Greater than operator : =gt= or >

        - Greater than or equal to : =ge= or >=


        Example usage q=service_type==sms;organization_id==0.5.2.3\

        Example equivalent usage q=service_type==sms and organization_id==0.5.2.3


        _Querying according to RSQL syntax is possible on granted and remaining numeric fields._


        Example usage q=service_type==data;granted>=42\

        Example usage q=service_type==sms and remaining=le=42


        Note! Only one of type ''q'' is allowed per request.


        _Available service_type values:_


        - service_type==sms

        - service_type==data

        - service_type==voice

        - service_type==csd

        '
    cursorParam:
      in: query
      name: cursor
      schema:
        type: string
      example: DFVSDB3434%DFB%EYY445
      description: 'Parameter used for pagination. This field is automatically populated in the response field "next" if there are more results in the system than delivered in the response.

        '
    sortParam:
      in: query
      name: sort
      schema:
        type: string
        x-extensible-enum:
        - remaining:asc
        - remaining:desc
        - granted:asc
        - granted:desc
        default: remaining:asc
      description: 'Parameter containing sort field and sort mode. First part selects field to sort on, the second part the order.


        _Available values:_


        - remaining:asc

        - remaining:desc

        - granted:asc

        - granted:desc

        '
    cycleParam:
      in: query
      name: cycle
      schema:
        type: string
        x-extensible-enum:
        - current
        - previous
        default: current
      description: 'Cycle parameter. Selects which shared bundle consumption cycle to retrieve.


        _Available values:_


        - current

        - previous

        '
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    Oauth2_auth:
      type: oauth2
      flows:
        password:
          tokenUrl: /iot/api/auth/token
          scopes:
            triggered-actions.read: Access right to read a triggered action.
            triggered-actions.write: Access right to write a triggered action.
            rulesets.read: Access right to read a rulesets.
            rulesets.write: Access right to write a rulesets..
    OAuth2:
      type: oauth2
      description: The resources in the API are protected using the OAuth 2.0 protocol with the password grant flow.
      flows:
        password:
          tokenUrl: https://iot-api.aeris.com/iot/api/auth/token
          scopes:
            org-mgt.shared-bundle-consumption.read: Grant read access to shared bundle traffic consumption information.
x-refined-from:
- business-automation-api.yaml
- shared-bundle-api.yaml
