openapi: 3.2.0
info:
  version: 0.2.3
  title: Incident Management Activities API
  description: '#### Copyright

    © Aeris Communications, Inc.'
  x-audience: external-partner
  x-api-id: 0a3ec0e4-3765-4a4f-8caa-b42ecb8e0d26
servers:
- url: https://iot-api.aeris.com/iot/api/ts
  description: API server
tags:
- name: Activities
paths:
  /incidents/{incident_id}/activities:
    parameters:
    - in: path
      name: incident_id
      description: The unique identifier of the requested incident in the Ticketing Service
      required: true
      schema:
        type: string
    post:
      tags:
      - Activities
      summary: Create new activity
      operationId: createIncidentActivity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_log_incident_2
        - css_manage_incidents_for_advanced_reseller_enterprise
  /incidents/{incident_id}/activities/{activity_id}/status:
    parameters:
    - in: path
      name: incident_id
      description: The unique identifier of the requested incident in the Ticketing Service.
      required: true
      schema:
        type: string
    - in: path
      name: activity_id
      description: The unique identifier of the activity.
      required: true
      schema:
        type: string
    get:
      tags:
      - Activities
      summary: Get activity status
      operationId: getIncidentActivityStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStatus'
        '400':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_log_incident_2
        - css_manage_incidents_for_advanced_reseller_enterprise
    put:
      tags:
      - Activities
      summary: Get activity status
      operationId: updateIncidentActivityStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityStatus'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityStatus'
        '400':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: The standard http error codes will be given. Usually 400,403,401,404 or 500.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_manage_incidents
        - css_manage_incidents_for_advanced_reseller_enterprise
components:
  schemas:
    ActivityStatus:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          description: Current status of the activity (DRAFT/CREATED).
          x-extensible-enum:
          - DRAFT
          - CREATED
          example: DRAFT
    Activity:
      type: object
      description: An activity related to an incident.
      allOf:
      - $ref: '#/components/schemas/Auditable'
      - $ref: '#/components/schemas/ActivityStatus'
      - type: object
        required:
        - id
        - summary
        properties:
          id:
            type: string
            readOnly: true
            description: Unique activity id.
            example: j23h434k
          summary:
            type: string
            maxLength: 100
            description: Short description of the activity.
            example: Initial activity
          description:
            type: string
            maxLength: 2000
            description: Detailed description of the activity.
            example: Incident created.
          attachments:
            description: A list of attachment metadata.
            readOnly: true
            type: array
            items:
              $ref: '#/components/schemas/Attachment'
    Auditable:
      type: object
      description: Common metadata of auditable entities.
      properties:
        created_at:
          type: string
          format: date-time
          description: The date and time when this entity was created. (RFC 3339 date-time)
          example: '2017-06-27T15:47:03.000Z'
          readOnly: true
        created_by_user:
          type: string
          description: The user who created this entity.
          example: user@enterprise.xyz
          readOnly: true
        last_modified_at:
          type: string
          format: date-time
          description: The date and time of last modification. (RFC 3339 date-time)
          example: '2017-06-27T15:47:03.000Z'
          readOnly: true
        modified_by_user:
          type: string
          description: The user who was the last to modify this entity.
          example: user@enterprise.xyz
          readOnly: true
    Attachment:
      type: object
      description: File attachment metadata.
      allOf:
      - $ref: '#/components/schemas/Auditable'
      - type: object
        required:
        - id
        - name
        properties:
          id:
            type: string
            description: File attachment unique id.
            example: dg3g5vdg
            readOnly: true
          name:
            type: string
            description: File name.
            example: Image.jpg
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type.  When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          default: about:blank
          example: https://your.api.documentation.url
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized); example: Service Unavailable

            '
        status:
          type: integer
          format: int32
          description: "The HTTP status code generated by the origin server for this occurrence\n of the problem.\n"
          minimum: 100
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
  securitySchemes:
    oauth2:
      type: oauth2
      description: The External Incidents API uses OAuth2 and OIDC for authentication and authorization.
      flows:
        password:
          tokenUrl: /iot/api/auth/token
          scopes:
            cnx_log_incident_2: Grants access to view and create incidents information by operator users.
            css_manage_incidents_for_advanced_reseller_enterprise: Grants access to view, create and update incidents information by reseller users.
            cnx_manage_incidents: Grants access to manage incidents information by operator users.
            css_premium_csp_incident_for_operators: Enables premium CSPs to create VIP Incidents compared to the standard incident severity matrix
