openapi: 3.2.0
info:
  title: Number Management Imsi Range API
  version: 1.0.5
  description: '#### Copyright

    © Aeris Communications, Inc.'
  x-api-id: f9fccdac-8c1f-43bc-90a7-99edee52fe2f
  x-audience: external-public
servers:
- url: https://iot-api.aeris.com/iot/api/subscriptions
  description: API server
tags:
- name: ImsiRange
  description: IMSI Range API
paths:
  /imsi-ranges:
    get:
      tags:
      - ImsiRange
      operationId: listImsiRanges
      summary: List Imsi ranges
      description: Provides list of imsi ranges mapped to a specific organization.
      parameters:
      - $ref: '#/components/parameters/Header-Authorization'
      - in: query
        name: organizationId
        required: true
        schema:
          type: string
          example: '22311000'
        description: 'The imsi ranges mapped to the specific organization ID

          '
      - in: query
        name: schemeId
        required: true
        schema:
          type: string
          example: TESTOPPREFSCHEME00021
        description: 'The imsi ranges mapped to the specific scheme ID

          '
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          $ref: '#/components/responses/ImsiRangesResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/default'
      security:
      - OAuth2:
        - cnx_subscription_view
  /imsi-ranges/{imsiRangeNo}:
    get:
      tags:
      - ImsiRange
      operationId: getImsiInfo
      summary: Imsi range details
      description: Provides imsi range mapped to a imsi range number.
      parameters:
      - $ref: '#/components/parameters/Header-Authorization'
      - in: query
        name: organizationId
        required: true
        schema:
          type: string
          example: '22311000'
        description: 'The imsi ranges mapped to the specific organization ID

          '
      - in: query
        name: schemeId
        required: true
        schema:
          type: string
          example: TESTOPPREFSCHEME00021
        description: 'The imsi ranges mapped to the specific scheme ID

          '
      - in: path
        name: imsiRangeNo
        required: true
        schema:
          type: integer
          format: int64
          example: 22311000
        description: 'The imsi range mapped to the imsi range number

          '
      responses:
        '200':
          $ref: '#/components/responses/ImsiRangeResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          $ref: '#/components/responses/default'
      security:
      - OAuth2:
        - cnx_subscription_view
components:
  responses:
    '401':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Unauthorized
                status: 401
                detail: Token expired
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Unauthorized
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    default:
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Internal Server Error
                status: 500
                detail: Internal Server Error
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Internal Server Error
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    '429':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Too Many Requests
                status: 429
                detail: API rate limit exceeded
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
    '403':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Forbidden
                status: 403
                detail: You do not have access to the resource
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Forbidden
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    ImsiRangesResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/imsiRanges'
          examples:
            imsiRanges:
              value:
                imsiStore:
                - startNumber: '440525070026500'
                  endNumber: '440525070026799'
                  amount: 100
                  nextNumber: '686187022311006'
                  freeAmount: 0
                  reservedFor: NOTRESERVED
                  rangeName: IMSI_LPWA_4405250720033083
                  rangeDesc: IMSI_LPWA_44052507
                  date: '2018-05-29T09:56:56Z'
                  imsiRangeNo: 3083
                  dcpImsiId: KDCIMSI020033083
                next: /imsi-ranges?organizationId=0500001&schemeId=ZZRSCHEME01 &limit=10&cursor=ODk0NTA0MjExNzEyMDYwMjIyMjI=
      description: OK
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
    '400':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Bad Request
                status: 400
                detail: organizationId can not be null
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Bad Request
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    '404':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Not Found
                status: 404
                detail: Not Found
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    ImsiRangeResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/imsiStore'
          example:
            startNumber: '440525070026500'
            endNumber: '440525070026799'
            amount: 100
            nextNumber: '686187022311006'
            freeAmount: 0
            reservedFor: NOTRESERVED
            rangeName: IMSI_LPWA_4405250720033083
            rangeDesc: IMSI_LPWA_44052507
            date: '2018-05-29T09:56:56Z'
            imsiRangeNo: 3083
            dcpImsiId: KDCIMSI020033083
      description: OK
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
    '500':
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            response:
              value:
                type: https://www.iana.org/assignments/http-status-codes/
                title: Internal Server Error
                status: 500
                detail: Internal Server Error
                instance: https://exmaple.api.documentation.url/123e4567-e89b-12d3-a456-426614174000
      description: Internal Server Error
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
  parameters:
    cursorParam:
      in: query
      name: cursor
      schema:
        type: string
      example: DFVSDB3434%DFB%EYY445
      description: 'Encoded string parameter used for pagination. This field is

        automatically populated in the response field "next" if there

        are more results in the system than delivered in the response.

        '
    limitParam:
      in: query
      name: limit
      schema:
        type: integer
        default: 100
      description: 'Specifies the maximum number of results to be returned.

        Allowed interval is 1-10000.

        '
    Header-Authorization:
      name: Authorization
      in: header
      required: true
      description: A valid token string in the form Bearer <token string>
      schema:
        type: string
  schemas:
    rangeDetails:
      type: object
      description: 'Range information.

        '
      properties:
        nextNumber:
          type: string
          description: Next number in the range.
          example: '440525070026589'
        freeAmount:
          type: integer
          format: int64
          description: The free amount in the number range
          example: 0
        reservedFor:
          type: string
          description: Status of the Range.
          example: NOTRESERVED
        numberRange:
          $ref: '#/components/schemas/numberRange'
    imsiStore:
      type: object
      description: 'Imsi Store information.

        '
      properties:
        rangeName:
          type: string
          description: Name of the Imsi Range
          example: IMSI_LPWA_4405250720033083
        rangeDesc:
          type: string
          description: Description of the Imsi Range.
          example: IMSI_LPWA_44052507
        date:
          type: string
          description: Date
          example: '2018-05-29T09:56:56Z'
        imsiRangeNo:
          type: integer
          format: int64
          description: Number for Imsi Range.
          example: 3083
        dcpImsiId:
          type: string
          description: Imsi Id for DCP
          example: KDCIMSI020033083
        rangeDetails:
          $ref: '#/components/schemas/rangeDetails'
    imsiRanges:
      type: object
      properties:
        imsiStores:
          type: array
          items:
            $ref: '#/components/schemas/imsiStore'
        next:
          type: string
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type.

            When dereferenced, it SHOULD provide human-readable

            documentation for the problem type (e.g., using HTML).

            '
          default: about:blank
          example: https://your.api.documentation.url
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and

            readable for engineers (usually not suited for non technical

            stakeholders and not localized); example: Service Unavailable

            '
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for

            this occurrence of the problem.

            '
          minimum: 100
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the

            problem. It may or may not yield further information

            if dereferenced.

            '
    numberRange:
      type: object
      description: 'Number Range information.

        '
      properties:
        startNumber:
          type: string
          description: The IMSI/MSISDN with which the range starts.
          example: '440525070026500'
        endNumber:
          type: string
          description: The IMSI/MSISDN with which the range ends.
          example: '440525070026799'
        amount:
          type: integer
          format: int64
          description: Difference between start and end number.
          example: 100
  headers:
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
  securitySchemes:
    OAuth2:
      type: oauth2
      description: The resources in the API are protected using the OAuth 2.0 protocol with the password grant flow.
      flows:
        password:
          tokenUrl: https://iot-api.aeris.com/iot/api/auth/token
          scopes:
            cnx_subscription_view: Grant user read access to Number management inventory resource
