openapi: 3.2.0
info:
  version: 3.9.3
  title: Enterprise Management SIM specification API
  description: '#### Copyright

    © Aeris Communications, Inc.'
  contact:
    name: Aeris IoT SaaS
    url: https://support.aeris.net/hc/en-us
  x-audience: external-partner
  x-api-id: 30a38694-63dc-4fbd-8bed-5b8ffdfe0e19
servers:
- url: https://iot-api.aeris.com/iot/api/ecm
  description: Main API server
tags:
- name: SIM specification
paths:
  /enterprises/sim-specifications:
    get:
      tags:
      - SIM specification
      summary: List SIM specifications
      description: List all SIM specifications the user is allowed to view.
      operationId: getSimSpecifications
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimSpecificationsRead'
            application/json;version=2.0.0:
              schema:
                $ref: '#/components/schemas/SimSpecificationsRead'
        '429':
          $ref: '#/components/responses/429'
        default:
          description: The standard http error codes will be given.4XX for client errors and 5XX for server errors.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - css_view_resources
components:
  responses:
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    '429':
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemGeneric'
          example:
            type: about:blank
            title: Too Many Requests
            status: 429
            detail: Too Many Requests. Please refer response RateLimit-* headers before send requests.
            instance: about:blank
  headers:
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
  schemas:
    SimSpecificationsRead:
      type: object
      properties:
        sim_specifications:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/SimSpecification'
    ProblemGeneric:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          default: about:blank
          example: https://your.api.documentation.url
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized);

            '
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          maximum: 600
          example: 503
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          default: about:blank
          example: /iot/api/problems/123e4567-e89b-12d3-a456-426614174000
    BasicData:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: My resource
        internal_id:
          type: integer
          format: int64
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          example: Descriptive information
        status:
          $ref: '#/components/schemas/Status'
        provisioning_status:
          $ref: '#/components/schemas/ProvisioningStatus'
      required:
      - name
    ProvisioningStatus:
      type: string
      description: Provisioning status of the entity
      x-extensible-enum:
      - NONE
      - PENDING
      - STARTED
      - SUCCESS
      - FAILURE
      example: SUCCESS
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,it SHOULD provide

            human-readable documentation for the problem type (e.g., using HTML).

            '
          default: about:blank
          example: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable for engineers (usually not suited

            for non technical stakeholders and not localized.

            '
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          minimum: 100
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: A human readable explanation specific to this occurrence of the problem.
          example: Connection to database timed out.
        instance:
          type: string
          description: An absolute URI that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.
          example: https://api.documentation.url/request-id
    SimSpecification:
      type: object
      allOf:
      - $ref: '#/components/schemas/BasicData'
      - properties:
          earliest_delivery_in_days:
            type:
            - integer
            - 'null'
            description: Minimum number of days from SIM order to earliest possible delivery.
            example: 15
          order_increment:
            type:
            - integer
            - 'null'
            description: The number of SIMs that an order must be incremented with.
            example: 10
          low_order_threshold:
            type:
            - integer
            - 'null'
            description: If number of SIMs in SIM order is smaller than the low order threshold, a low order fee may be applied.
            example: 5
          network_group_id:
            type:
            - integer
            - 'null'
            format: int64
            description: Internal ID of the operator's network group to which this SIM specfication belongs. See output of [GET/enterprises/network-groups]
            example: 123
    Status:
      type: string
      description: Status of the entity
      x-extensible-enum:
      - DRAFT
      - READY
      - INVALID
      - SUBMITTED
      - OBSOLETE
      example: READY
  securitySchemes:
    oauth2:
      type: oauth2
      description: The Enterprise API uses OAuth2 and OIDC for authentication and authorization.
      flows:
        password:
          tokenUrl: https://iot-api.aeris.com/iot/api/auth/token
          scopes:
            css_manage_enterprise_hierarchy: Grants access to read, create and update enterprise and subscription package information.
            css_view_resources: Grants access to read resource information.
