openapi: 3.2.0
info:
  version: 2.3.2
  title: eUICC Setup Activation codes API
  description: '#### Copyright

    © Aeris Communications, Inc.'
  x-audience: external-public
  x-api-id: 8cd4dc59-bfa5-45f1-9567-460c15b817b1
servers:
- url: https://iot-api.aeris.com/iot/api
  description: API server
tags:
- name: Activation codes
  description: Consumer and IoT profile activation code management
paths:
  /activation-codes:
    post:
      tags:
      - Activation codes
      summary: Store activation codes
      operationId: storeActivationCodes
      description: 'Stores activation codes for a specific locale.

        **Note:** IMSI is optional for EXTERNAL activation codes, but required for INTERNAL. For INTERNAL, euiccId should not be provided.


        **Note:** For **INTERNAL** activation code type, the `localeId` provided is used solely to import the activation code into the system. Once imported, the activation code may be utilized by any locale that is configured with the same profile specification as the locale used during import.'
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreActivationCodeRequest'
        required: true
      responses:
        '201':
          description: Created
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
    get:
      tags:
      - Activation codes
      summary: List activation codes
      operationId: listActivationCodes
      description: Retrieves stored activation codes
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: organizationId
        in: query
        description: A list of organizations ids for which activation codes should be listed.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          maxItems: 1000
      - name: euiccId
        in: query
        description: A list of euicc ids (EIDs) for which activation codes should be listed.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: iccId
        in: query
        description: A list of ICC ids for which activation codes should be listed.
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: profileType
        in: query
        description: profile type
        schema:
          type: string
      - name: state
        in: query
        schema:
          $ref: '#/components/schemas/ActivationCodeStateParam'
        description: Filter activation codes by state
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
  /activation-codes/{id}:
    get:
      tags:
      - Activation codes
      summary: Get Activation code by assigned entity id
      operationId: getActivationCode
      description: Retrieves activation code entity. The entity is referred to using the unique entity id which is assigned to the entry when the activation code is stored.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: id
        in: path
        description: Activation code assigned entity id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
    delete:
      tags:
      - Activation codes
      summary: Delete activation code by assigned entity id
      operationId: deleteActivationCode
      description: Delete activation code entity. The entity is referred to using the unique entity id which is assigned to the entry when the activation code is stored.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: id
        in: path
        description: Activation code assigned entry id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
    put:
      tags:
      - Activation codes
      summary: Update activation code by assigned entity id
      operationId: updateActivationCode
      description: Update activation code entry. The entity is referred to using the unique entity id which is assigned to the entry when the activation code is stored.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: id
        in: path
        description: Activation code assigned entry id
        required: true
        schema:
          type: string
      requestBody:
        description: ActivationCodeUpdate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationCodeUpdate'
        required: true
      responses:
        '200':
          description: Updated
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
  /activation-codes/request-id/{id}:
    get:
      tags:
      - Activation codes
      summary: Get Activation codes by subscription request id
      operationId: listActivationCodesByJobId
      description: Retrieves activation codes by id of a subscription request where the codes have either been created or used.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: id
        in: path
        description: Subscription request id
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: limit
        in: query
        description: Number of items per page
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 10
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
  /activation-codes/export:
    post:
      tags:
      - Activation codes
      summary: Export activation codes (POST)
      operationId: exportActivationCodes
      description: Retrieves stored activation codes using request body filters.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportActivationCodeRequest'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeList'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
  /activation-codes/import:
    post:
      tags:
      - Activation codes
      summary: Import activation codes from CSV
      operationId: importActivationCodes
      description: 'Imports activation codes from a CSV file. The CSV must contain at minimum the columns ICCID and ACTIVATION_CODE. The import is processed asynchronously; a jobId is returned to poll progress via the job status endpoint.


        **Note:** eID is optional for EXTERNAL but should not be provided for INTERNAL. State by default will be considered as AVAILABLE for both activation code type i.e EXTERNAL and INTERNAL.


        **Note:** For **INTERNAL** activation code type, the `localeId` provided is used solely to import the activation code into the system. Once imported, the activation code may be utilized by any locale that is configured with the same profile specification as the locale used during import.'
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ActivationCodeImportRequest'
      responses:
        '202':
          description: Accepted
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationCodeImportAcceptedResponse'
              examples:
                Import accepted:
                  value:
                    jobId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: ACCEPTED
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
  /activation-codes/import/jobstatus/{jobId}:
    get:
      tags:
      - Activation codes
      summary: Get activation code import job status
      operationId: getActivationCodeImportJobStatus
      description: Retrieves the status and paginated failure details of an activation code import job. When the job is still in progress, only jobId and status are returned. When the job is complete or failed, full statistics and failure row details are included.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: jobId
        in: path
        description: Import job ID returned from the import activation codes request
        required: true
        schema:
          type: string
      - name: iccid
        in: query
        description: Filter failure rows by ICCID
        schema:
          type: string
      - name: page
        in: query
        description: Page number for failure rows (0-based)
        schema:
          type: integer
          minimum: 0
          default: 0
      - name: size
        in: query
        description: Number of failure rows per page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobStatusResponse'
              examples:
                Job in progress:
                  value:
                    jobId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: IN_PROGRESS
                Job completed:
                  value:
                    jobId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    status: COMPLETED
                    totalFailures: 2
                    totalSuccess: 98
                    page: 0
                    pageSize: 10
                    failedRows:
                    - failureId: 1001
                      rowNumber: 5
                      iccid: '8901234567890123456'
                      failureCode: DUPLICATE_ICCID_IN_DB
                      description: ICCID already exists in database
                      createdDate: '2026-05-15T10:30:00Z'
                    - failureId: 1002
                      rowNumber: 12
                      iccid: '8901234567890123457'
                      failureCode: INVALID_ACTIVATION_CODE_FORMAT
                      description: Activation code does not match the required LPA format
                      createdDate: '2026-05-15T10:30:01Z'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
  /activation-codes/upload-status/{ehubJobId}:
    get:
      tags:
      - Activation codes
      summary: Get upload status for an activation code import job
      operationId: getActivationCodeUploadStatus
      description: Retrieves the upload status of an activation code import job from the UIS service. Returns processing statistics and any failed records.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: ehubJobId
        in: path
        description: The eHub job ID returned from the import activation codes request.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatusResponse'
              examples:
                Upload status completed:
                  value:
                    uisJobId: uis-job-abc123
                    ehubJobId: ehub-job-xyz789
                    status: COMPLETED
                    totalRecords: 100
                    successCount: 98
                    failureCount: 2
                    createdAt: '2026-06-08T09:00:00Z'
                    updatedAt: '2026-06-08T09:05:00Z'
                    failedRecords:
                    - iccid: '8901234567890123456'
                      imsi: '310260123456789'
                      errorCode: DUPLICATE_ICCID
                      errorMessage: ICCID already exists
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_ro
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
  /activation-codes/retry/{ehubJobId}:
    post:
      tags:
      - Activation codes
      summary: Retry a failed activation code upload job
      operationId: retryActivationCodeUpload
      description: Retries a previously failed activation code upload job via the UIS service. Returns 200 if the job was already completed, or 202 if a new retry has been accepted.
      parameters:
      - $ref: '#/components/parameters/Header-Content-Type'
      - $ref: '#/components/parameters/Header-Accept-Version'
      - name: Accept
        in: header
        description: Accept content-type and schemas by the client
        content:
          application/json:
            schema:
              type: string
      - name: ehubJobId
        in: path
        description: The eHub job ID of the upload to retry.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK — upload was already completed, no retry needed
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryUploadResponse'
              examples:
                Already completed:
                  value:
                    status: ALREADY_COMPLETED
                    retryJobId: null
        '202':
          description: Accepted — retry job has been queued
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryUploadResponse'
              examples:
                Retry accepted:
                  value:
                    status: RETRYING
                    retryJobId: uis-retry-job-def456
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        default:
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - OAuth2:
        - cnx_ss_euicc_activationcode_man
components:
  schemas:
    ExportActivationCodeRequest:
      type: object
      required:
      - organizationId
      properties:
        organizationId:
          type: array
          description: A list of organizations ids for which activation codes should be listed.
          items:
            type: string
          maxItems: 1000
        euiccId:
          type: array
          description: A list of euicc ids (EIDs) for which activation codes should be listed.
          items:
            type: string
        iccId:
          type: array
          description: A list of ICC ids for which activation codes should be listed.
          items:
            type: string
        profileType:
          type: string
          description: profile type
        state:
          $ref: '#/components/schemas/ActivationCodeStateParam'
          description: Filter activation codes by state
        page:
          type: integer
          minimum: 0
          default: 0
          description: Page number
        limit:
          type: integer
          minimum: 1
          maximum: 10000
          default: 10
          description: Number of items per page
    ActivationCodeStateParam:
      type: string
      description: The state in which the activation code should be stored. In DRAFT state, the entity is still modifiable and will not be issued to any eUICCs. When AVAILABLE, the code entity can not be modified and may be assigned and issued to an eUICC. When RESERVED, the code has been assigned to an eUICC. When REMOVED, the profile referred to by the activation code has been deleted, and the code cannot be used anymore.
      enum:
      - DRAFT
      - AVAILABLE
      - RESERVED
      - REMOVED
    ActivationCodeUpdate:
      type: object
      properties:
        code:
          type: string
          description: The activation code.
        euiccId:
          type: string
          description: The EID of the eUICC the code is assigned to, or planned for.
        iccId:
          type: string
          description: The ICC of the profile referred to by the activation code.
        state:
          type: string
          description: The state in which the activation code should be stored. In DRAFT state, the entity is still modifiable and will not be issued to any eUICCs. When AVAILABLE, the code entity can not be modified and may be assigned and issued to an eUICC.
          enum:
          - DRAFT
          - AVAILABLE
        localizationTableId:
          type: integer
          format: int64
        localeId:
          type: string
    ImportJobStatusResponse:
      required:
      - jobId
      - status
      type: object
      properties:
        jobId:
          type: string
          description: The import job ID.
        status:
          type: string
          description: The current status of the import job.
          enum:
          - IN_PROGRESS
          - COMPLETED
          - FAILED
        totalFailures:
          type: integer
          format: int64
          description: Total number of rows that failed to import. Only present when the job is not IN_PROGRESS.
        totalSuccess:
          type: integer
          format: int64
          description: Total number of rows successfully imported. Only present when the job is not IN_PROGRESS.
        page:
          type: integer
          description: The requested page of failure rows (0-based). Only present when the job is not IN_PROGRESS.
        pageSize:
          type: integer
          description: The number of failure rows per page. Only present when the job is not IN_PROGRESS.
        failedRows:
          type: array
          description: Paginated list of failed import rows. Only present when the job is not IN_PROGRESS.
          items:
            $ref: '#/components/schemas/ImportFailureRow'
    ActivationCodeList:
      required:
      - name
      - organizationId
      type: array
      items:
        $ref: '#/components/schemas/ActivationCodeItem'
    StoreActivationCodeRequest:
      required:
      - localizationTableId
      - localeId
      - codes
      type: object
      properties:
        localizationTableId:
          type: integer
          format: int64
        localeId:
          type: string
        activationCodeType:
          type: string
          description: 'Type of activation code to apply uniformly to all rows


            **Note:** For EXTERNAL, both states i.e. DRAFT and AVAILABLE can be provided, for INTERNAL, only AVAILABLE state is allowed.

            '
          enum:
          - INTERNAL
          - EXTERNAL
          default: EXTERNAL
        codes:
          type: array
          items:
            $ref: '#/components/schemas/ActivationCodeInsert'
    UploadFailedRecord:
      type: object
      properties:
        iccid:
          type: string
          description: The ICCID of the failed record.
        imsi:
          type: string
          description: The IMSI of the failed record.
        errorCode:
          type: string
          description: Machine-readable error code from UIS.
        errorMessage:
          type: string
          description: Human-readable error message from UIS.
    ActivationCodeInsert:
      required:
      - code
      - state
      type: object
      properties:
        code:
          type: string
          description: The activation code.
        euiccId:
          type: string
          description: The EID of the eUICC the code is assigned to, or planned for.
        iccId:
          type: string
          description: The ICC of the profile referred to by the activation code.
        imsi:
          type: string
          description: The IMSI associated with the activation code. Required when activationCodeType is INTERNAL. Must be 14 or 15 numeric digits.
        state:
          type: string
          description: The state in which the activation code should be stored. In DRAFT state, the entity is still modifiable and will not be issued to any eUICCs. When AVAILABLE, the code entity can not be modified and may be assigned and issued to an eUICC.
          enum:
          - DRAFT
          - AVAILABLE
    ActivationCodeItem:
      required:
      - id
      - code
      - organizationId
      - state
      - localizationTableId
      - localeId
      - added
      type: object
      properties:
        id:
          type: string
          description: The assigned unique entity id.
        code:
          type: string
          description: The activation code.
        organizationId:
          type: string
          description: The owner of the profile referred to by the activation code.
        euiccId:
          type: string
          description: The EID of the eUICC the code is assigned to, or planned for.
        iccId:
          type: string
          description: The ICC of the profile referred to by the activation code.
        state:
          type: string
          description: The state in which the activation code should be stored. In DRAFT state, the entity is still modifiable and will not be issued to any eUICCs. When AVAILABLE, the code entity can not be modified and may be assigned and issued to an eUICC. When RESERVED, the code has been assigned to an eUICC. When DELETED, the profile referred to by the activation code has been deleted, and the code cannot be used anymore.
          enum:
          - DRAFT
          - AVAILABLE
          - RESERVED
          - REMOVED
        localizationTableId:
          type: integer
          format: int64
        localeId:
          type: string
        added:
          type: string
          format: date-time
        addedRequestId:
          type: string
        issued:
          type: string
          format: date-time
          description: The date when the activation code was issued to an eUICC.
        issuedRequestId:
          type: string
    ActivationCodeImportRequest:
      required:
      - file
      - localizationTableId
      - localeId
      type: object
      properties:
        file:
          type: string
          format: binary
          description: CSV file containing activation code data. Mandatory columns are ICCID and ACTIVATION CODE.
        activationCodeType:
          type: string
          description: Type of activation code to import.
          enum:
          - INTERNAL
          - EXTERNAL
          default: EXTERNAL
        localizationTableId:
          type: integer
          format: int64
          description: Localization table ID to associate the imported codes with.
        localeId:
          type: string
          description: Locale ID within the localization table.
    RetryUploadResponse:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          description: Status of the retry request.
          enum:
          - ALREADY_COMPLETED
          - RETRYING
        retryJobId:
          type:
          - string
          - 'null'
          description: The UIS job ID assigned to the new retry job. Present when status is RETRYING; null when ALREADY_COMPLETED.
    ActivationCodeImportAcceptedResponse:
      required:
      - jobId
      - status
      type: object
      properties:
        jobId:
          type: string
          description: Unique identifier for the asynchronous import job.
        status:
          type: string
          description: Acceptance status of the import request.
          enum:
          - ACCEPTED
    UploadStatusResponse:
      type: object
      properties:
        uisJobId:
          type: string
          description: The job ID assigned by the UIS service.
        ehubJobId:
          type: string
          description: The eHub job ID that was queried.
        status:
          type: string
          description: Current status of the upload job as reported by UIS.
        totalRecords:
          type: integer
          description: Total number of records in the uploaded file.
        successCount:
          type: integer
          description: Number of records successfully processed.
        failureCount:
          type: integer
          description: Number of records that failed processing.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the upload job was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the upload job was last updated.
        failedRecords:
          type: array
          description: List of individual records that failed, if any.
          items:
            $ref: '#/components/schemas/UploadFailedRecord'
    ImportFailureRow:
      type: object
      properties:
        failureId:
          type: integer
          format: int64
          description: Unique identifier for the failure record.
        rowNumber:
          type: integer
          description: The 1-based row number in the CSV file (excluding the header row).
        iccid:
          type: string
          description: The ICCID from the failed CSV row.
        failureCode:
          type: string
          description: Machine-readable failure reason code.
          enum:
          - EMPTY_ICCID
          - EMPTY_ACTIVATION_CODE
          - DUPLICATE_ICCID_IN_FILE
          - DUPLICATE_ACTIVATION_CODE_IN_FILE
          - DUPLICATE_IMSI_IN_FILE
          - DUPLICATE_MSISDN_IN_FILE
          - DUPLICATE_ICCID_IN_DB
          - DUPLICATE_ACTIVATION_CODE_IN_DB
          - DUPLICATE_IMSI_IN_DB
          - DUPLICATE_MSISDN_IN_DB
          - INVALID_ACTIVATION_CODE_FORMAT
          - INVALID_ICCID_FORMAT
          - DB_INSERT_FAILED
          - BATCH_ROLLBACK
        description:
          type: string
          description: Human-readable description of the failure reason.
        createdDate:
          type: string
          format: date-time
          description: The timestamp when the failure record was created.
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          default: about:blank
          example: https://your.api.documentation.url
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized)

            '
          example: Service Unavailable
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          example: 503
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          example: https://api.documentation.url/request-id
  responses:
    '401':
      description: Unauthorized
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/unauthorized
            title: Unauthorized
            status: 401
            detail: Authentication credentials were missing or incorrect
            instance: https://api.documentation.url/request-id
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    '429':
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/too-many-requests
            title: Too Many Requests
            status: 429
            detail: The user has sent too many requests in a given amount of time
            instance: https://api.documentation.url/request-id
    '403':
      description: Forbidden
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/forbidden
            title: Forbidden
            status: 403
            detail: The server understood the request but refuses to authorize it
            instance: https://api.documentation.url/request-id
    '405':
      description: Method Not Allowed
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/method-not-allowed
            title: Method Not Allowed
            status: 405
            detail: The request method is not supported for this resource
            instance: https://api.documentation.url/request-id
    '400':
      description: Bad Request
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/bad-request
            title: Bad Request
            status: 400
            detail: The request could not be understood by the server due to malformed syntax
            instance: https://api.documentation.url/request-id
    '404':
      description: Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/not-found
            title: Not Found
            status: 404
            detail: The requested resource could not be found
            instance: https://api.documentation.url/request-id
    '500':
      description: Internal Server Error
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://your.api.documentation.url/internal-server-error
            title: Internal Server Error
            status: 500
            detail: The server encountered an unexpected condition that prevented it from fulfilling the request
            instance: https://api.documentation.url/request-id
  headers:
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
  parameters:
    Header-Accept-Version:
      name: Accept-Version
      in: header
      description: Accept version of the response
      schema:
        type: string
    Header-Content-Type:
      name: Content-Type
      in: header
      description: Content-Type
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: The resources in the API are protected using the OAuth 2.0 protocol
      flows:
        clientCredentials:
          tokenUrl: https://iot-api.aeris.com/iot/api/auth/token
          scopes:
            euicc-mgt.agreement.read: Grant client read access to eUICC agreement resources
            euicc-mgt.agreement.write: Grant client write access to eUICC agreement resources
