openapi: 3.2.0
info:
  title: Resource Inventory Operator networks API
  description: '#### Copyright

    Copyright Aeris Communications, Inc.'
  version: 2.0.7
  x-audience: external-partner
  x-api-id: 3c82242f-95ff-4484-b84a-c96a9b2c43d3
servers:
- url: https://iot-api.aeris.com/iot/api
  description: API server
tags:
- name: Operator networks
paths:
  /operator-networks:
    get:
      security:
      - oauth2:
        - cnx_view_networks
      tags:
      - Operator networks
      operationId: listOperatorNetworks
      summary: Get operator networks
      description: This operation lists allowed operator networks based on token and filtered by organizationId if provided.
      parameters:
      - name: q
        in: query
        description: "Filter parameter which supports the RSQL filter syntax.\nRSQL is a super-set of the Feed Item Query Language (FIQL).\nNote! The query string must be URL encoded.\nSupported fields:\n  - organizationId (If \"organizationId\" not provided, return all the allowed operator networks list of current user.)\n"
        schema:
          type: string
          example: organizationId==3.41
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOperatorNetworksListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
components:
  schemas:
    GetOperatorNetworksListResponse:
      allOf:
      - type: object
        properties:
          networks:
            type: array
            items:
              $ref: '#/components/schemas/OperatorNetworkRead'
    Problem:
      type: object
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type. When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          format: uri
          example: https://your.api.documentation.url
          default: about:blank
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable

            for engineers (usually not suited for non technical stakeholders and

            not localized).

            '
          example: Internal Server Error
        status:
          maximum: 600
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          format: int32
          example: 500
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: The server has encountered a situation that it does not know how to handle.
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
    OperatorNetworkRead:
      type: object
      properties:
        id:
          type: string
          description: Operator network ID
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: My network
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          example: default operator network
        status:
          type: string
          example: ACTIVE
          x-extensible-enum:
          - DRAFT
          - ACTIVE
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        operatorId:
          type: string
          description: operator ID
          example: '3.77'
      required:
      - name
  headers:
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
  responses:
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    Forbidden:
      description: Forbidden
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://www.iana.org/assignments/http-status-codes
            title: Forbidden
            status: 403
            detail: Authentication token is valid, but user has no access permissions to the request resource.
            instance: https://api.documentation.url/request-id
    TooManyRequests:
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Unauthorized
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://www.iana.org/assignments/http-status-codes
            title: Unauthorized
            status: 401
            detail: The request has not been applied because the server requires user authentication.
            instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
    InternalError:
      description: Internal Server Error.
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: https://www.iana.org/assignments/http-status-codes
            title: Internal Server Error
            status: 500
            detail: The server has encountered a situation that it does not know how to handle.
            instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
    Problem:
      description: Internal Server Error.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    oauth2:
      type: oauth2
      description: The API uses OAuth2 and OIDC for authentication and authorization.
      flows:
        password:
          tokenUrl: https://<baseURL>/iot/api/auth/token
          scopes:
            cnx_view_resources: Access right to read APN
