openapi: 3.2.0
info:
  title: Resource Inventory API
  description: '#### Copyright

    Copyright Aeris Communications, Inc.'
  version: 2.0.7
  x-audience: external-partner
  x-api-id: 3c82242f-95ff-4484-b84a-c96a9b2c43d3
servers:
- url: https://iot-api.aeris.com/iot/api
  description: API server
tags:
- name: Resource Inventory
  description: Inventory queries for network resources
paths:
  /esm-profiles:
    get:
      tags:
      - Resource Inventory
      summary: Get ESM profiles list
      description: Get list of ESM profiles
      operationId: getESMProfileListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmProfileArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-profiles/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of an ESM profile
      description: Get ESM profile
      operationId: getESMProfile
      parameters:
      - name: id
        in: path
        description: ESM Profile Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmProfile'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-contexts:
    get:
      tags:
      - Resource Inventory
      summary: Get ESM contexts list
      description: Get list of ESM contexts
      operationId: getESMContextListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmContextArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-contexts/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of an ESM context
      description: Get ESM context
      operationId: getESMContext
      parameters:
      - name: id
        in: path
        description: ESM Context Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmContext'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /pdp-context-profiles:
    get:
      tags:
      - Resource Inventory
      summary: Get PDP context profiles list
      description: Get list of PDP context profiles
      operationId: getPDPContextListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdpContextProfileArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /pdp-context-profiles/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of a PDP context profile
      description: Get PDP context profile
      operationId: getPDPContextProfiles
      parameters:
      - name: id
        in: path
        description: PDP Context Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdpContextProfiles'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-context-qos:
    get:
      tags:
      - Resource Inventory
      summary: Get ESM context QoSs list
      description: Get list of ESM context qos
      operationId: getESMContextQOSListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmContextQosArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-context-qos/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of an ESM context QoS
      description: Get ESM context qos
      operationId: getEsmContextQos
      parameters:
      - name: id
        in: path
        description: ESM Context Qos Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmContextQos'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-profile-qos:
    get:
      tags:
      - Resource Inventory
      summary: Get ESM profile QoSs list
      description: Get list of ESM profile QoSs
      operationId: getESMProfileQOSListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmProfileQosArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /esm-profile-qos/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of an ESM profile QoS
      description: Get ESM profile qos
      operationId: getEsmProfileQos
      parameters:
      - name: id
        in: path
        description: ESM Profile Qos Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EsmProfileQos'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /pdp-context-qos:
    get:
      tags:
      - Resource Inventory
      summary: Get PDP context QoSs list
      description: Get PDP context qos
      operationId: getQOSListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdpContextQosArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /pdp-context-qos/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of a PDP context QoS
      description: Get PDP context qos
      operationId: getPdpContextQos
      parameters:
      - name: id
        in: path
        description: PDP Context Qos Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdpContextQos'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /apns:
    get:
      tags:
      - Resource Inventory
      summary: Get APNs list
      description: Get list of APNs
      operationId: getapnListArray
      parameters:
      - name: cursor
        in: query
        description: "Opaque string returned within the meta object response on endpoints which support pagination.\n Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results.\n  The last page of results will not have a 'next' present.\n"
        schema:
          type: string
        example: DFVSDB3434%DFB%EYY445
      - name: limit
        in: query
        description: The maximum number of entries to return. If the value exceeds the maximum, then the maximum value will be used. The value of limit ranges from 1 to 1000.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          example: 100
          default: 100
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApnArray'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /apns/{id}:
    get:
      tags:
      - Resource Inventory
      summary: Get details of an APN
      operationId: getApn
      parameters:
      - name: id
        in: path
        description: APN Id
        required: true
        schema:
          type: string
          example: '1'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apn'
              examples:
                INTERNET_APN:
                  $ref: '#/components/examples/internetApnExample'
                NON_HOSTED_APN:
                  $ref: '#/components/examples/nonHostedApnExample'
                PRIVATE_APN:
                  $ref: '#/components/examples/privateApnExample'
                VIRTUAL_APN:
                  $ref: '#/components/examples/virtualApnExample'
                RADIUS_APN:
                  $ref: '#/components/examples/radiusApnExample'
        '400':
          description: Bad Request
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Bad Request
                status: 400
                detail: Invalid request parameter
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Unauthorized
                status: 401
                detail: The request has not been applied because the server requires user authentication.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: API rate limit exceeded
                status: 429
                detail: The server has too many requests.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error.
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              example:
                type: https://www.iana.org/assignments/http-status-codes
                title: Internal Server Error
                status: 500
                detail: The server has encountered a situation that it does not know how to handle.
                instance: https://api.documentation.url/123e4567-e89b-12d3-a456-426614174000
        default:
          description: Internal Server Error.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
      - oauth2:
        - cnx_view_resources
  /roaming-profiles-2g3g:
    get:
      security:
      - oauth2:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 2G3G roaming profile list
      description: List 2G3G roaming profiles
      operationId: Get2G3GInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2G3GInventoryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /roaming-profiles-4g:
    get:
      security:
      - oauth2:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 4G roaming profile list
      operationId: get4GInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get4GInventoryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /roaming-profiles-2g3g/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - oauth2:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a 2G3G roaming profile
      description: Show the detailed information of a 2G3G roaming profile by given id.
      operationId: Get2G3GInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get2G3GInventoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /roaming-profiles-4g/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - oauth2:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a 4G roaming profile
      description: Show the detailed information of a 4G roaming profile by given id.
      operationId: get4GInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get4GInventoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-context-qos-5gsa:
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 5GSA SM Context QoS list
      description: Retrieves list of all available 5GSA SM Context QoS entries.
      operationId: GetSmContextQos5gsaInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSMContextQos5GSAInventoryListResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-context-qos-5gsa/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a 5GSA SM Context QoS
      description: Show the detailed information of a 5GSA SM Context QoS by given id.
      operationId: GetSmContextQos5gsaInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSMContextQos5GSAInventoryResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /network-slicing-contexts:
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 5GSA Network Slice Context list
      description: Retrieves list of all available 5GSA Network Slice Contexts.
      operationId: GetNetworkSliceContextInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkSliceContextInventoryListResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /network-slicing-contexts/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a Network Slice Context
      description: Show the detailed information of a Network Slice Context by given id.
      operationId: GetNetworkSliceContextInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNetworkSliceContextInventoryResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-context-5gsa:
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 5GSA SM Context list
      description: Retrieves list of all available 5GSA SM Contexts.
      operationId: GetSmContextInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmContext5gsaInventoryListResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-context-5gsa/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a 5GSA SM Context
      description: Show the detailed information of a 5GSA SM Context by given id.
      operationId: GetSmContextInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmContext5gsaInventoryResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-profile-5gsa:
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get 5GSA SM Profile list
      description: Retrieves list of all available 5GSA SM Profiles.
      operationId: GetSmProfileInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmProfile5gsaInventoryListResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /sm-profile-5gsa/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a 5GSA SM Profile
      description: Show the detailed information of a 5GSA SM Profile by given id.
      operationId: GetSmProfileInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSmProfile5gsaInventoryResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /roaming-profile-5gsa:
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get Roaming Profile 5GSA list
      description: Retrieves list of all available 5GSA Roaming Profiles.
      operationId: GetRoamingProfile5gsaInventories
      parameters:
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoamingProfile5gsaInventoryListResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
  /roaming-profile-5gsa/{id}:
    parameters:
    - $ref: '#/components/parameters/inventoryId'
    get:
      security:
      - Oauth2_auth:
        - cnx_view_resources
      tags:
      - Resource Inventory
      summary: Get details of a Roaming Profile 5GSA
      description: Show the detailed information of a Roaming Profile 5GSA by given id.
      operationId: GetRoamingProfile5gsaInventoryById
      responses:
        '200':
          description: OK
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoamingProfile5gsaInventoryResponseSchema'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'
        default:
          $ref: '#/components/responses/Problem'
components:
  schemas:
    InventoryContextItems:
      type: object
      properties:
        hssEsmContextId:
          type: string
          description: HSS ESM Context Id
          example: '2'
    ServiceDataUnit:
      properties:
        sduMaxSize:
          type: integer
          description: sdu Max size
          format: int32
          example: 5
        erroneousSduDelivery:
          type: string
          description: erroreous Sdu Delivery
          example: DELIVERED
          x-extensible-enum:
          - NOT_CHECKED
          - NOT_DELIVERED
          - DELIVERED
        residualBitErrorRate:
          type: integer
          description: residual Bit Error Rate
          format: int32
          example: 4
        sduErrorRatio:
          type: integer
          description: sdu Error Ratio
          format: int32
          example: 2
      description: Service Data Unit
      example:
        sduMaxSize: 5
        erroneousSduDelivery: DELIVERED
        residualBitErrorRate: 4
        sduErrorRatio: 2
    VirtualApn:
      allOf:
      - $ref: '#/components/schemas/PgwApn'
      - type: object
        properties:
          realApnId:
            type: string
            example: '0'
    PrivateApn:
      allOf:
      - $ref: '#/components/schemas/RealApn'
    EsmContextQosArray:
      allOf:
      - type: object
        properties:
          esmContextQoS:
            type: array
            items:
              $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /esm-contexts-qos?cursor=BDCTAQ3434%DFB%EYY445
    DataProfileBase:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      type: object
      properties:
        apn:
          type: string
          description: The name of the APN
          example: foo.go
        hlrApnId:
          type:
          - string
          - 'null'
          description: HLR Apn Id
          example: '6415'
        hssApnId:
          type:
          - string
          - 'null'
          description: HSS Apn Id
          example: '6415'
        supplierDnsHosted:
          type: boolean
          description: A boolean indicating supplier DNS hosted property
          example: true
        type:
          type: string
          example: INTERNET_APN
          x-extensible-enum:
          - INTERNET_APN
          - NON_HOSTED_APN
          - PRIVATE_APN
          - VIRTUAL_APN
          - RADIUS_APN
    RoamingProfile4gSimple:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: RP996LTE
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          example: RP996LTE Offering
      required:
      - name
    ApnArray:
      allOf:
      - type: object
        properties:
          apns:
            type: array
            items:
              $ref: '#/components/schemas/DataProfileBase'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /apns?cursor=BDCTAQ3434%DFB%EYY445
    PdpContextSub:
      type: object
      properties:
        ordinal:
          type: integer
          description: The ordinal number of the PDP context. The ordinal number indicates the usage order of the PDP contexts when there are more than one PDP contexts
          format: int32
          example: 1
        apnId:
          type: string
          description: apn id
          example: '1249'
        pdpContextQosId:
          type: string
          example: '2'
        pdpContextType:
          type: string
          example: IPV4
          x-extensible-enum:
          - IPV4
          - IPV6
          - IPV4_AND_IPV6
      example:
        ordinal: 10
        apnId: '1249'
        pdpContextQosId: '1242'
        pdpContextType: IPV4
    AuthServer:
      type:
      - object
      - 'null'
      properties:
        ipAddress:
          type: string
          format: ipv4
          example: 34.125.64.6
        port:
          type: integer
          format: int32
          example: 1812
        key:
          type: string
          example: '1232'
      description: Authentication server
      example:
        ipAddress: 34.125.64.6
        port: 1812
        key: '1243'
    PdpContextProfileArray:
      allOf:
      - type: object
        properties:
          pdpContextProfiles:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/InventoryBase'
              - $ref: '#/components/schemas/InventoryPdpContextItems'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /pdp-context-profiles?cursor=BDCTAQ3434%DFB%EYY445
    RadiusApn:
      allOf:
      - $ref: '#/components/schemas/PgwApn'
      - type: object
        properties:
          defaultApnId:
            type: string
            description: Default Apn Id
            example: '0'
    EsmProfileQos:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          name:
            type: string
            description: The name of the ESM profile Qos
            example: Foo Esm profile Qos
          maxDownlinkBitrate:
            type: integer
            description: Max downlink bitrate in (bits/s)
            format: int32
            example: 0
          maxUplinkBitrate:
            type: integer
            description: Max uplink bitrate in (bits/s)
            format: int32
            example: 0
          maxExtendedDownlinkBitrate:
            type: integer
            description: Max Extended downlink bitrate in (kbits/s)
            format: int64
            example: 0
          maxExtendedUplinkBitrate:
            type: integer
            description: Max Extended uplink bitrate in (kbits/s)
            format: int64
            example: 0
          epsServiceChargingChar:
            type:
            - string
            - 'null'
            description: eps service charging char
            example: '64555'
          freqPriorityId:
            type: integer
            description: Frequency priority identifier/subscriber profile ID
            format: int32
            example: 3
          operatorId:
            type: string
            description: operator ID
            example: '3.77'
          operatorNetworkId:
            type:
            - string
            - 'null'
            description: network group id
            example: '5'
    InventoryPdpContextItems:
      type: object
      properties:
        hlrPdpContextProfileId:
          type: string
          description: hlr PDP context profile id
          example: '5'
    Get2G3GInventoryResponse:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - $ref: '#/components/schemas/RoamingProfile2g3g'
    EsmContext:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          apnId:
            type: string
            description: The id of the APN
            example: '3000'
          esmContextQosId:
            type: string
            description: The id of the ESM context Qos
            example: '300'
          pdnType:
            type: string
            description: The address type of the PDN
            example: IPV4
            x-extensible-enum:
            - IPV4
            - IPV6
            - IPV4_AND_IPV6
            - IPV4_OR_IPV6
            - NONE
          staticPdnGwAsFqdn:
            type:
            - string
            - 'null'
            description: The PDN-GW node identity in Fully Qualified Domain Name (FQDN) format.
            example: topon.s5.epc.mnc015.mcc234.3gppnetwork.org$epc.mnc015.mcc234.3gppnetwork.org
          staticPdnGwAsIpv4:
            type:
            - string
            - 'null'
            description: The PDN-GW node identity in IPv4 format, that is, four octets of decimal numbers, separated by periods (.).
            format: ipv4
            example: 11.11.11.11
          staticPdnGwAsIpv6:
            type:
            - string
            - 'null'
            description: The PDN-GW node identity in IPv6 format, that is, eight groups of four hexadecimal numbers, separated by colons (:).
            format: ipv6
            example: 2010:0000:0000:0001:0a5b:1000:6789:000c
          allowVpLmn:
            type: boolean
            description: A boolean indicating whether dynamic address allocation in the VPLMN is allowed
            example: true
          apnOiReplacement:
            type:
            - string
            - 'null'
            description: This attribute indicates the domain name to replace the APN Operator Identifier when constructing the PDN Gateway (GW) Full Qualified Domain Name (FQDN) upon which to perform a DNS resolution.
            example: mncfoo.mccfoo.gprs
          hssEsmContextId:
            type: string
            description: HSS ESM Context Id
            example: '2'
          operatorId:
            type: string
            description: operator ID
            example: '3.77'
          operatorNetworkId:
            type:
            - string
            - 'null'
            description: network group id
            example: '5'
    EsmProfileArray:
      allOf:
      - type: object
        properties:
          esmProfiles:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/InventoryBase'
              - $ref: '#/components/schemas/InventoryProfileItems'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /esm-profiles?cursor=BDCTAQ3434%DFB%EYY445
    EsmProfileQosArray:
      allOf:
      - type: object
        properties:
          esmProfileQos:
            type: array
            items:
              $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /esm-profiles-qos?cursor=BDCTAQ3434%DFB%EYY445
    GlobalTitles:
      type: object
      properties:
        globalTitles:
          type: array
          description: Global Titles
          uniqueItems: true
          items:
            type: string
          example:
          - '164780001'
          - '2250505987'
          - '32468'
          - '32475'
          - '7901106'
          - '7901154'
          - '790116'
          - '7901472'
          - '790160'
          - '799426'
          - '99292'
          - '99293'
    Get4GInventoryResponse:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - $ref: '#/components/schemas/RoamingProfile4g'
    AcctServer:
      type:
      - object
      - 'null'
      properties:
        ipAddress:
          type: string
          format: ipv4
          example: 34.125.64.9
        port:
          type: integer
          format: int32
          example: 18126
        key:
          type: string
          example: '1234'
      description: Accounting server
      example:
        ipAddress: 34.125.64.9
        port: 1812
        key: '1324'
    RealApn:
      allOf:
      - $ref: '#/components/schemas/PgwApn'
      - type: object
        properties:
          uplinkBandwidth:
            type: integer
            description: An uplink bandwidth limit to apply a speed profile on the subscriptions connecting through this APN. If no value is entered, the default value applies, which is defined by the QoS
            format: int32
            example: 60
          downlinkBandwidth:
            type: integer
            description: A downlink bandwidth limit to apply a speed profile on the subscriptions connecting through this APN. If no value is entered, the default value applies, which is defined by the QoS
            format: int32
            example: 80
          numberOfSimultaneousSessions:
            type: integer
            description: Number of connected device
            format: int32
            example: 256
          primaryGiRange:
            type:
            - string
            - 'null'
            description: Primary GI Address Range
            example: 42.56.152.23/28
          secondaryGiRange:
            type:
            - string
            - 'null'
            description: Secondary GI Address Range
            example: 42.56.152.23/28
          routingInstance:
            type: string
            description: The routing instance where the APN is configured
            example: route1
          natFirewallBy:
            type: string
            description: The NAT Firewall provided by Ericsson or Operator
            example: OPERATOR
            x-extensible-enum:
            - OPERATOR
            - ERICSSON
          ipVersion:
            type: string
            description: The type of the PDP
            example: IPV4
            x-extensible-enum:
            - IPV4
            - IPV6
            - IPV4_AND_IPV6
            - IPV4_OR_IPV6
            - NONE
          sessionTimeout:
            type: string
            description: The session timeout configuration.
            example: DEFAULT
            x-extensible-enum:
            - DEFAULT
            - NO_SUPERVISION
            - TIMER
            - RADIUS
          sessionTimeoutTimer:
            type: integer
            description: The amount of time that needs to be elapsed for the session to expire
            format: int32
            example: 60
          idleTimeout:
            type:
            - string
            - 'null'
            description: The idle timeout configuration
            example: DEFAULT
            x-extensible-enum:
            - DEFAULT
            - NO_SUPERVISION
            - TIMER
            - RADIUS
          idleTimeoutTimer:
            type: integer
            description: The number of minutes that the idle timer timeout. When the traffic idle time exceeds the specified value, the session will be reset
            format: int32
            example: 60
          vpn:
            type:
            - string
            - 'null'
            description: The name of the VPN to be connected
            example: vpn1
          terminalIpAddresses:
            type: array
            description: The terminal IP range to be used
            items:
              pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*(?:/[0-9]\d|/3[0-9])?$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3}(\/(\d{1,2}|1[0-1]\d|12[0-8]))?)|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))|(^\*$)
              type: string
              description: IPv4 or IPv6 IP address with netmask
              example: 10.100.200.50/20
          secondaryTerminalIpAddresses:
            type: array
            description: The terminal IP range to be used for the backup site
            items:
              pattern: ((^\s*((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))\s*(?:/[0-9]\d|/3[0-9])?$)|(^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3}(\/(\d{1,2}|1[0-1]\d|12[0-8]))?)|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$))|(^\*$)
              type: string
              description: IPv4 or IPv6 IP address with netmask
              example: 2001:db8:abcd:0012::0/56
          primaryEnterpriseServerAddress:
            pattern: ^([01]?\d\d?|2[0-4]\d|25[0-5])(?:\.[01]?\d\d?|\.2[0-4]\d|\.25[0-5]){3}(?:/[0-2]\d|/3[0-2])?$
            type:
            - string
            - 'null'
            description: Primary DHCP server address
            example: 10.20.30.40/20
          secondaryEnterpriseServerAddress:
            pattern: ^([01]?\d\d?|2[0-4]\d|25[0-5])(?:\.[01]?\d\d?|\.2[0-4]\d|\.25[0-5]){3}(?:/[0-2]\d|/3[0-2])?$
            type:
            - string
            - 'null'
            description: Secondary DHCP server address
            example: 10.20.30.40/20
          primaryAuthServer:
            $ref: '#/components/schemas/AuthServer'
          secondaryAuthServer:
            $ref: '#/components/schemas/AuthServer'
          primaryAcctServer:
            $ref: '#/components/schemas/AcctServer'
          secondaryAcctServer:
            $ref: '#/components/schemas/AcctServer'
          useIpAddressAllocation:
            type: boolean
            example: true
          addressAllocationType:
            type: string
            description: Address Allocation
            example: Provider_Static
            x-extensible-enum:
            - Provider_Dynamic
            - Provider_Static
            - Enterprise_RADIUS
            - Enterprise_DHCP
            - DCP_DHCP
            - DCP_RADIUS
          radiusAuthOptions:
            type:
            - string
            - 'null'
            description: Authentication options/AVPs
            example: imsi , rat-type , user-plmn-id , allocate-ip-type
          radiusAccOptions:
            type:
            - string
            - 'null'
            description: Accounting options/AVPs'
            example: event-timestamp , imsi , msisdn , apn-selection-mode
          numberOfReservedIpV4Addresses:
            type: integer
            description: Number of reserved IPv4 address
            format: int32
            example: 2
          numberOfReservedIpV6Addresses:
            type: integer
            description: Number of reserved IPv6 address
            format: int32
            example: 2
          restrictM2MAccess:
            type: boolean
            description: A boolean indicating whether communication between terminals is restricted
            example: true
          sendIpV4Dns:
            type: boolean
            description: A boolean indicating whether IPV4 DNS is used on the APN
            example: true
          useSupplierDnsIpV4:
            type: boolean
            description: A boolean indicating whether to set devices IPv4 DNS
            example: true
          sendIpV6Dns:
            type: boolean
            description: A boolean indicating whether IPV6 DNS is used on the APN
            example: true
          useSupplierDnsIpV6:
            type: boolean
            description: A boolean indicating whether to set devices IPv6 DNS. Note! If it is true and no IPv6 DNS addresses are provided, Ericsson will add by default the IoTA IPv6 DNS
            example: true
          primaryDnsIpV4:
            pattern: ^([01]?\d\d?|2[0-4]\d|25[0-5])(?:\.[01]?\d\d?|\.2[0-4]\d|\.25[0-5]){3}(?:/[0-9]\d|/3[0-9])?$
            type:
            - string
            - 'null'
            description: The IPv4 address of the primary DNS server
            example: 34.125.64.6/28
          primaryDnsIpV6:
            pattern: ^s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:)))(%.+)?s*(\/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))?$
            type:
            - string
            - 'null'
            description: The IPv6 address of the primary DNS server
            example: fe80:0000:0000:0000:0204:61ff:fe9d:f156/76
          secondaryDnsIpV4:
            pattern: ([01]?\d\d?|2[0-4]\d|25[0-5])(?:\.[01]?\d\d?|\.2[0-4]\d|\.25[0-5]){3}(?:/[0-9]\d|/3[0-9])?$
            type:
            - string
            - 'null'
            description: The IPv4 address of the secondary DNS server
            example: 34.125.64.6/28
          secondaryDnsIpV6:
            pattern: ^s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:)))(%.+)?s*(\/([0-9]|[1-9][0-9]|1[0-1][0-9]|12[0-8]))?$
            type:
            - string
            - 'null'
            description: The IPv6 address of the secondary DNS server
            example: fe80:0000:0000:0000:0204:61ff:fe9d:f156/76
          pcrf:
            type: string
            description: Policy Control Type
            example: NONE
            x-extensible-enum:
            - NONE
            - B2C
            - POLICY_CONTROL
          enabled2g3g:
            type: boolean
            description: 'Enable 2G or 3G in APN

              '
            example: true
          enabled4g:
            type: boolean
            description: 'Enable 4G in APN

              '
            example: true
    PgwApn:
      allOf:
      - $ref: '#/components/schemas/ApnBase'
      - type: object
        properties:
          packetGws:
            type: array
            items:
              $ref: '#/components/schemas/PacketGw'
    NonHostedApn:
      allOf:
      - $ref: '#/components/schemas/ApnBase'
    NotFound:
      description: 'Network Resource with provided ID not found.

        '
    RoamingProfileSimple:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: RP996
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          example: RP996
      required:
      - name
    EsmContextArray:
      allOf:
      - type: object
        properties:
          esmContexts:
            type: array
            items:
              allOf:
              - $ref: '#/components/schemas/InventoryBase'
              - $ref: '#/components/schemas/InventoryContextItems'
      - type: object
        properties:
          next:
            type: string
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            example: /esm-contexts?cursor=BDCTAQ3434%DFB%EYY445
    InventoryBase:
      type: object
      properties:
        id:
          type: string
          example: '1'
        status:
          type: string
          example: ACTIVE
          x-extensible-enum:
          - ACTIVE
          - DEPRECATED
        name:
          maxLength: 255
          minLength: 1
          type: string
          example: Foo name
        description:
          maxLength: 500
          type:
          - string
          - 'null'
          example: Foo description
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        operatorId:
          type: string
          description: operator ID
          example: '3.77'
        operatorNetworkId:
          type:
          - string
          - 'null'
          description: network group ID
          example: '538'
    PdpContextProfiles:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - $ref: '#/components/schemas/PdpContextProfile'
    Get2G3GInventoryListResponse:
      allOf:
      - type: object
        properties:
          roamingProfiles:
            type: array
            items:
              $ref: '#/components/schemas/InventoryItem2G3G'
      - type: object
        properties:
          next:
            description: Opaque string returned within the meta object response on endpoints which support pagination. Indicates that more results are available and can be used as the 'cursor' parameter in the next request to return the next page of results. The last page of results will not have a 'next' present.
            type: string
            example: /roaming-profiles-2g3g?cursor=DFVSDB3434%DFB%EYY445
    Apn:
      anyOf:
      - $ref: '#/components/schemas/InternetApn'
      - $ref: '#/components/schemas/NonHostedApn'
      - $ref: '#/components/schemas/PrivateApn'
      - $ref: '#/components/schemas/RadiusApn'
      - $ref: '#/components/schemas/VirtualApn'
    RoamingAreas:
      type: object
      properties:
        realms:
          type: array
          description: Realms of roaming profile 4G
          uniqueItems: true
          items:
            type: string
          example:
          - epc.mnc860.mcc354.3gppnetwork.org
          - epc.mnc010.mcc440.3gppnetwork.org
          - epc.mnc020.mcc412.3gppnetwork.org
    InventoryItem4G:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          hssRsaId:
            type: string
            description: Roaming service area id
            example: '996'
    PdpContextProfile:
      type: object
      properties:
        pdpContexts:
          type: array
          items:
            $ref: '#/components/schemas/PdpContextSub'
        operatorId:
          type: string
          description: operator ID
          example: '3.77'
        operatorNetworkId:
          type:
          - string
          - 'null'
          description: network group id
          example: '5'
        hlrPdpContextProfileId:
          type: string
          description: hlr PDP context profile id
          example: '5'
    EsmProfile:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          esmContexts:
            type: array
            items:
              $ref: '#/components/schemas/EsmContextSub'
          esmProfileQosId:
            type: string
            description: The id of ESM profile QoS
            example: '14567'
          defaultEsmContextId:
            type: string
            description: The id of default ESM context
            example: '50605'
          apnOiReplacement:
            type:
            - string
            - 'null'
            description: This attribute indicates the domain name to replace the APN Operator Identifier when constructing the PDN Gateway (GW) Full Qualified Domain Name (FQDN) upon which to perform a DNS resolution.
            example: mncfoo.mccfoo.gprs
          enabled5gNsa:
            type: boolean
            description: A boolean indicating whether 5G is enabled
            example: true
          operatorId:
            type: string
            description: operator ID
            example: '3.77'
          operatorNetworkId:
            type:
            - string
            - 'null'
            description: network group id
            example: '5'
          hssEsmProfileId:
            type: string
            description: Esm profile id in HSS
            example: '2'
    PdpContextQos:
      allOf:
      - $ref: '#/components/schemas/InventoryBase'
      - type: object
        properties:
          name:
            type: string
            description: The name of the  Qos
            example: Foo  Qos
          trafficClass:
            type: string
            description: Traffic class
            example: BACKGROUND
            x-extensible-enum:
            - BACKGROUND
            - CONVERSATIONAL
            - INTERACTIVE
            - STREAMING
          maximumBitrateUp:
            type: integer
            description: Max bitrate up in Kbps
            format: int32
            example: 5
          maximumBitrateDown:
            type: integer
            description: Max bitrate down in Kbps
            format: int32
            example: 5
          deliveryOrder:
            type: string
            description: Delivery Order
            example: IN_ORDER
            x-extensible-enum:
[...]
