openapi: 3.2.0
info:
  title: Consumer connectivity Subscriptions API
  description: '#### Copyright

    © Aeris Communications, Inc.'
  version: 2.0.1
  x-api-id: 7d04b81f-0545-4c01-9d81-244fda13b6c8
  x-audience: external-public
servers:
- url: https://iot-api.aeris.com/iot/api/consumer-connectivity
  description: API server
security:
- Oauth2_auth: []
tags:
- name: Subscriptions
paths:
  /subscriptions/{subscription-id-type}/{subscription-id}:
    get:
      tags:
      - Subscriptions
      summary: Get a subscription
      description: Returns a subscription.
      operationId: getSubscription
      parameters:
      - name: subscription-id-type
        in: path
        description: Subscription ID type
        required: true
        schema:
          $ref: '#/components/schemas/SubscriptionIdTypeEnum'
      - name: subscription-id
        in: path
        description: Subscription ID
        required: true
        schema:
          type: string
      responses:
        200:
          description: Subscription
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/vnd.dcp-v1+json:
              schema:
                $ref: '#/components/schemas/SubscriptionModel'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Subscription not found
          content:
            application/vnd.dcp-v1+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          $ref: '#/components/responses/Response_429'
        500:
          $ref: '#/components/responses/InternalError'
      security:
      - Oauth2_auth:
        - cc.read
  /subscriptions/reset:
    put:
      tags:
      - Subscriptions
      summary: Reset a subscription
      description: Resets a subscription.
      operationId: resetSubscription
      requestBody:
        description: Reset subscription request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetSubscriptionRequestModel'
          application/vnd.dcp-v1+json:
            schema:
              $ref: '#/components/schemas/ResetSubscriptionRequestModel'
        required: true
      responses:
        200:
          description: Reset response
          allOf:
          - $ref: '#/components/responses/RateLimitedResponse'
          content:
            application/vnd.dcp-v1+json:
              schema:
                $ref: '#/components/schemas/ResetResponse'
        400:
          description: Invalid reset subscription request
          content:
            application/vnd.dcp-v1+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Subscription or company not found
          content:
            application/vnd.dcp-v1+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        429:
          $ref: '#/components/responses/Response_429'
        500:
          $ref: '#/components/responses/InternalError'
      security:
      - Oauth2_auth:
        - cc.write
components:
  responses:
    RateLimitedResponse:
      headers:
        X-RateLimit-Limit-Second:
          $ref: '#/components/headers/X-RateLimit-Limit-Second'
        X-RateLimit-Limit-Minute:
          $ref: '#/components/headers/X-RateLimit-Limit-Minute'
        X-RateLimit-Remaining-Second:
          $ref: '#/components/headers/X-RateLimit-Remaining-Second'
        X-RateLimit-Remaining-Minute:
          $ref: '#/components/headers/X-RateLimit-Remaining-Minute'
        Content-Type:
          $ref: '#/components/headers/Content-Type'
    Response_429:
      description: Too Many Requests
      allOf:
      - $ref: '#/components/responses/RateLimitedResponse'
      content:
        application/vnd.dcp-v1+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/vnd.dcp-v1+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal error
      content:
        application/vnd.dcp-v1+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  headers:
    Content-Type:
      description: Handle Content-Type
      schema:
        type: string
    X-RateLimit-Remaining-Second:
      description: The number of requests remaining in a second.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Minute:
      description: The maximum number of requests allowed in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Remaining-Minute:
      description: The number of requests remaining in a minute.
      schema:
        type: integer
        format: int32
    X-RateLimit-Limit-Second:
      description: The maximum number of requests allowed in a second.
      schema:
        type: integer
        format: int32
  schemas:
    SubscriptionIdTypeEnum:
      type: string
      description: Subscription ID type
      enum:
      - IMSI
      - MSISDN
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        http_status:
          type: integer
          format: int32
          default: 500
        message:
          type: string
      description: Error response
    ResetResponse:
      type: object
      properties:
        success:
          type: boolean
      description: Reset response
    ResetSubscriptionRequestModel:
      type: object
      properties:
        company_id:
          type: string
        subscription_id_type:
          $ref: '#/components/schemas/SubscriptionIdTypeEnum'
        subscription_id:
          type: string
      description: ResetSubscription request
    SubscriptionModel:
      type: object
      properties:
        company_id:
          type: string
        imsi:
          type: string
        msisdn:
          type: string
      description: Subscription
  securitySchemes:
    Oauth2_auth:
      flows:
        password:
          tokenUrl: https://iot-api.aeris.com/iot/api/auth/token
          scopes:
            cc.read: Access right needed to read from Consumer Connectivity service.
            cc.write: Access right needed to write to Consumer Connectivity service.
      type: oauth2
